*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-image: url(../img/26.ddztkos-34a2ddb7-3f2e-4b70-b243-4859ea8124e5.png);
    background-size: cover;
    padding: 0 3rem;
}
.lefted{
    font-family: 'Doom 2016 Left', sans-serif;
    font-size: 60px;
}
.righted{
    font-family: 'Doom 2016 right', sans-serif;
    font-size: 60px;
}
.centered{
    font-family: 'Doom 2016 text', sans-serif;
    font-size: 60px;
}
span{
    color: white;
}

body{
    background-image: url(../img/skinface.1.jpg);
    background-size: cover;
}
#grid{
    width: 510px;
    height: 510px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

.easy-cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;

}
.mid-cell{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 2px solid rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hard-cell{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 2px solid rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clicked{
    background-image: url(../img/da.jpg);
    background-size: contain;
}
.foot{
    width: 100%;
    height: 80px;
     background-image: url(../img/Immagine\ 2023-11-08\ 101343.png);
     background-size: contain;
     position: relative;
}
footer img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}