*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: darkcyan;
    padding: 0 3rem;
}
#grid{
    width: 500px;
    height: 500px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}
.easy-cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mid-cell{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hard-cell{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clicked{
    background-color: cyan;
}